<navbar></navbar>

  <h1>Products</h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Categories</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="product in products">
        <td>{{product.title}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.stock}}</td>
        <td>
          <span ng-repeat="category in product.categories">
            <a ui-sref="productCatalog ({slug: category.slug})">{{category.name}}</a>
          </span>
        </td>
        <td>
          <a ng-click="showProduct(product)"> <i class="fa fa-2x fa-eye"></i></a>
          <a ng-click="editProduct(product)"> <i class="fa fa-2x fa-pencil"></i></a>
          <a ng-click="deleteProduct(product)"> <i class="fa fa-2x fa-trash-o"></i></a>
        </td>
      </tr>
    </table>
  </div>
</div>

<footer></footer>